@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr{
    display: block;
}
*{
  font-family: "Outfit", sans-serif;
  font-family: "Prata", serif;
}
::-webkit-scrollbar{
    display: none;
}
@media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  
}
